.git/*
env/
venv/
.venv
.venv/
.vscode/
.htmcov/
/vscode/
/htmcov/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

sent_emails/
/sent_emails/



