<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Об авторе
                              </div> 
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  <a href="https://github.com/Dudi001">GitHub</a><p>Мой акк на Гитхабе</p>
                                  <a href="https://vk.com/manapov_001">VK</a><p>Мой профиль в ВК</p>
                              </div>
                          </li>
                      </ul>                                               
                  </div>                    
              </div>                
          </div>
          <!-- Тело страницы -->
          <div class="col-md-9">
              <div class="card-body">                    
                  <div class="card-text">
                      <p><h2>Немного информации обо мне.</h2></p>
                      <p>Зовут меня Мурад, начал програмировать в октябре 2020, это мой первый проект, поэтому не судите строго.</p>
                      <p>В дальнейшем проект будет доболняться и обновляться.</p>
                  </div>                    
              </div>                
          </div>            
      </div>        
  </main>
{% endblock %}